Repository ubclaunchpad/forum, pull requests merged in 2024-11, with the labels that each got.

#50 User endpoints
  backend/crud/user_crud.py
  backend/database/db.py
  backend/database/script.py
  backend/main.py
  backend/middleware/auth.py
  backend/requirements.in
  backend/routers/routes/user_routes.py
  backend/tests/__init__.py
  backend/tests/test_user_routes.py
Labels: backend

#77 Add RAG System and Dependency Management
  .gitignore
  README.md
  backend/.vscode/settings.json
  backend/README.md
  backend/core/__init__.py
  backend/core/example/__init__.py
  backend/core/example/data.json
  backend/core/example/main.py
  backend/core/parsers/__init__.py
  backend/core/parsers/document_parser.py
  backend/core/parsers/parser_strategy.py
  backend/core/parsers/text_parser.py
  backend/core/pipelines/__init__.py
  backend/core/pipelines/doc_query_engine.py
  backend/core/processors/__init__.py
  backend/core/processors/document_processor.py
  backend/core/processors/embedding_processor.py
  backend/core/templates/default.txt
  backend/database/__init__.py
  backend/database/db.py
  backend/database/migrations/1731227673951.sql
  backend/database/script.py
  backend/dev-requirements.in
  backend/dev-requirements.txt
  backend/manage_deps.py
  backend/pip_install.ps1
  backend/pip_install.sh
  backend/requirements.in
  backend/requirements.txt
  backend/update_reqs.py
Labels: documentation, dependencies, python, backend, database

#98 adding a playground section for testing ui and other comps
  README.md
  backend/.vscode/settings.json
  backend/core/example/data.json
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/globals.css
  frontend/src/app/playground/search/chat.tsx
  frontend/src/app/playground/search/page.tsx
  frontend/src/app/playground/ui/page.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/resizable.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/utils/supabase/middleware.ts
Labels: frontend, Testing/QA

#103 Upload file
  .vscode/settings.json
  backend/core/util/file_storage.py
  backend/crud/__init__.py
  backend/crud/document_crud.py
  backend/database/db.py
  backend/database/migrations/1729398518442.sql
  backend/database/migrations/1731227673951.sql
  backend/database/migrations/1731227673952.sql
  backend/database/migrations/1732350048397.sql
  backend/database/migrations/1732415501876.sql
  backend/database/script.py
  backend/main.py
  backend/models/documents.py
  backend/requirements.in
  backend/requirements.txt
  backend/routers/routes/courses.py
  backend/routers/routes/documents.py
  frontend/src/app/auth/signin/page.tsx
  frontend/src/app/protected/layout.tsx
  frontend/src/app/protected/upload/page.tsx
  frontend/src/components/ui/button.tsx
Labels: backend

#114 Cleanup, linting, and config changes
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/prettier.yml
  frontend/package.json
  frontend/src/app/course-home/course-navbar.tsx
  frontend/src/app/course-home/page.tsx
  frontend/src/app/create-course/page.tsx
  frontend/src/app/playground/search/page.tsx
  frontend/src/app/protected/layout.tsx
  frontend/src/app/protected/upload/page.tsx
  frontend/src/declarations.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: devOps

#132 120 post upvoting feature
  backend/crud/post_crud.py
  backend/database/migrations/1732994569333.sql
  backend/models/post_models.py
  backend/routers/routes/posts.py
Labels: backend, database

#124 Sidebar
  frontend/src/app/course-home/page.tsx
  frontend/src/components/navigation/sidebar.tsx
  frontend/src/components/ui/scrollArea.tsx
  frontend/tailwind.config.ts
Labels: frontend
