Repository ubclaunchpad/forum, pull requests merged in 2025-02, with the labels that each got.

#222 created job and job_specification table
  backend/migrations/versions/07f9fdd97141_.py
  backend/migrations/versions/0f36437bdda7_create_job_and_job_specification.py
  backend/models/all.py
Labels: database

#243 Create SECURITY.md
  SECURITY.md
Labels: documentation

#246 Create blank issue template
  .github/ISSUE_TEMPLATE/blank-issue.md
Labels: documentation, trivial

#244 Create bug reporting issue template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: documentation, trivial

#248 129 create privacy policy and terms of service
  frontend/next.config.mjs
  frontend/package.json
  frontend/src/app/(legal)/layout.tsx
  frontend/src/app/(legal)/privacy/page.mdx
  frontend/src/app/(legal)/terms/page.mdx
  frontend/src/mdx-components.tsx
  frontend/src/utils/supabase/middleware.ts
  frontend/yarn.lock
Labels: documentation, frontend

#247 Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#258 Setting Theme Refresh
  frontend/src/app/api/revalidate/route.ts
  frontend/src/components/settings/AppearanceSection.tsx
Labels: frontend

#259 Landing Page Initialization [V1]
  frontend/package.json
  frontend/src/app/landing/footer.tsx
  frontend/src/app/landing/header.tsx
  frontend/src/app/landing/hero-mouse-hover.tsx
  frontend/src/app/page.tsx
  frontend/src/app/public/icon.png
  frontend/src/components/ui/button.tsx
  frontend/yarn.lock
Labels: enhancement, frontend

#263 re-order items in header
  frontend/src/app/landing/header.tsx
Labels: frontend

#271 fix button styling
  frontend/src/app/landing/header.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ui/button.tsx
Labels: frontend

#276 Updated Settings Page
  frontend/package.json
  frontend/src-tauri/tauri.conf.json
  frontend/src/app/forum/courses/[id]/layout.tsx
  frontend/src/app/forum/courses/[id]/settings/ai/context/page.tsx
  frontend/src/app/forum/courses/[id]/settings/ai/usage/page.tsx
  frontend/src/app/forum/courses/[id]/settings/general/page.tsx
  frontend/src/app/forum/courses/[id]/settings/layout.tsx
  frontend/src/app/forum/courses/[id]/settings/page.tsx
  frontend/src/app/forum/layout.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/course/courseTopbar.tsx
  frontend/src/components/course/searchBar.tsx
  frontend/src/components/files/DocumentRow.tsx
  frontend/src/components/files/FileViewer.tsx
  frontend/src/components/files/NewFileUpload.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostEmbeddingPopoverChip.tsx
  frontend/src/components/posts/PostView.tsx
  frontend/src/components/settings/AISettingsSection.tsx
  frontend/src/components/settings/AppearanceSection.tsx
  frontend/src/components/settings/CourseGeneralSettings.tsx
  frontend/src/components/settings/CourseSection.tsx
  frontend/src/components/settings/ExperimentsSection.tsx
  frontend/src/components/settings/SettingsTitleHeader.tsx
  frontend/src/components/settings/settingsSidebar.tsx
  frontend/src/components/settings/settingsTopbar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/contexts/PostsContext.tsx
  frontend/src/contexts/ThemeProvider.tsx
  frontend/src/hooks/useCourseConfig.tsx
  frontend/src/lib/course-settings.ts
  frontend/src/lib/types/course.ts
  frontend/src/lib/utils.ts
  frontend/src/providers/courseStoreProvider.tsx
  frontend/src/stores/courseStore.ts
  frontend/tailwind.config.ts
  frontend/yarn.lock
Labels: frontend

#275 User management
  backend/controllers/invite_controller.py
  backend/controllers/user_controller.py
  backend/main.py
  backend/migrations/versions/4a6768f2db42_user_management_tables.py
  backend/models/all.py
  backend/models/schemas/invite_schema.py
  backend/routers/routes/invites.py
  backend/routers/routes/users.py
Labels: python, backend, database

#278 Execute jobs
  backend/README.md
  backend/controllers/jobs/__init__.py
  backend/core/jobs/__init__.py
  backend/core/jobs/job_handler.py
  backend/core/jobs/print_hi.py
  backend/core/jobs/sample_job.py
  backend/core/processors/execute_job.py
  backend/core/scheduler.py
  backend/main.py
  backend/migrations/versions/f1ce316ab61f_restructure_job_tables.py
  backend/models/all.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/run_scheduler.py
  backend/uv.lock
Labels: backend

#283 239 update readme on main repository
  README.md
Labels: documentation

#281 Simple chat service
  backend/controllers/chat_controller.py
  backend/main.py
  backend/migrations/versions/b66a12eca94a_add_messages_channels_and_userchannels_.py
  backend/models/all.py
  backend/models/schemas/chat_schema.py
  backend/routers/routes/chat.py
  frontend/src/app/forum/test-route/[slug]/actions.ts
  frontend/src/app/forum/test-route/[slug]/page.tsx
  frontend/src/app/forum/test-route/actions.ts
  frontend/src/app/forum/test-route/page.tsx
  frontend/src/app/landing/footer.tsx
  frontend/src/app/landing/header.tsx
  frontend/src/app/landing/hero-mouse-hover.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/lib/types/chat.ts
  yarn.lock
Labels: frontend, backend

#279 Tags update
  backend/controllers/course_controller.py
  backend/controllers/document_controller.py
  backend/controllers/post_controller.py
  backend/controllers/tags/tag_manager.py
  backend/migrations/versions/ca4a855c1845_unique_tag_name_parent_id.py
  backend/models/all.py
  backend/models/schemas/course_schema.py
  backend/routers/routes/courses.py
Labels: python, backend, database

#277 Tagui
  frontend/src/app/forum/courses/[id]/layout.tsx
  frontend/src/app/landing/hero-mouse-hover.tsx
  frontend/src/components/posts/PostsForumSidebar.tsx
  frontend/src/components/tags/TagsSidebar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/hooks/useTagConfig.tsx
  frontend/src/lib/fetchers/tags.tsx
  frontend/src/lib/types/tags.ts
  frontend/src/stores/courseStore.ts
  frontend/yarn.lock
Labels: frontend

#288 Course access: Joining and leaving
  backend/controllers/course_controller.py
  backend/controllers/documents/document_manager.py
  backend/controllers/invite_controller.py
  backend/controllers/jobs/__init__.py
  backend/controllers/tags/tag_manager.py
  backend/controllers/user_controller.py
  backend/core/jobs/__init__.py
  backend/core/jobs/job_handler.py
  backend/core/jobs/print_hi.py
  backend/core/jobs/sample_job.py
  backend/core/pipelines/document_query_engine.py
  backend/core/processors/execute_job.py
  backend/core/scheduler.py
  backend/core/templates/default.txt
  backend/core/templates/explanatory.txt
  backend/core/util/file_storage.py
  backend/main.py
  backend/migrations/versions/4a6768f2db42_user_management_tables.py
  backend/migrations/versions/c7b93ff08af5_update_tag_unique_constraint.py
  backend/migrations/versions/ca4a855c1845_unique_tag_name_parent_id.py
  backend/migrations/versions/f1ce316ab61f_restructure_job_tables.py
  backend/migrations/versions/f6526fac793c_course_access_column.py
  backend/models/all.py
  backend/models/schemas/course_schema.py
  backend/models/schemas/invite_schema.py
  backend/routers/routes/courses.py
  backend/routers/routes/invites.py
  backend/run_scheduler.py
  frontend/src/app/forum/courses/new/page.tsx
  frontend/src/app/forum/courses/page.tsx
  frontend/src/app/landing/footer.tsx
  frontend/src/app/landing/header.tsx
  frontend/src/app/landing/hero-mouse-hover.tsx
  frontend/src/app/page.tsx
  frontend/src/components/course/courseTopbar.tsx
  frontend/src/components/courses/FindCoursesToJoin.tsx
  frontend/src/lib/types/course.ts
  frontend/src/lib/types/tags.ts
Labels: frontend, backend

#291 Resources Sidebar UI update
  frontend/src/components/files/DocumentListSidebar.tsx
  frontend/src/components/files/DocumentsPage.tsx
  frontend/src/components/files/NewFileUpload.tsx
  frontend/src/components/posts/PostsForumPage.tsx
  frontend/src/components/posts/PostsForumSidebar.tsx
  frontend/src/components/posts/PostsForumViewSection.tsx
  frontend/yarn.lock
Labels: frontend

#305 Add margin to top of error message
  frontend/src/app/auth/signup/page.tsx
Labels: frontend

#316 New UI redesign for 404 page
  frontend/src/app/not-found.tsx
Labels: frontend

#320 Add missing hover for dark mode toggle
  frontend/src/app/landing/header.tsx
Labels: frontend

#319 Google authentication
  backend/controllers/user_controller.py
  backend/routers/middleware/auth.py
  backend/routers/routes/users.py
  frontend/README.md
  frontend/package.json
  frontend/src/app/api/users/finish-setup/route.ts
  frontend/src/app/auth/callback/route.ts
  frontend/src/app/auth/finish-setup/page.tsx
  frontend/src/app/auth/signin/actions.ts
  frontend/src/app/auth/signin/page.tsx
  frontend/src/app/auth/signup/actions.ts
  frontend/src/app/auth/signup/page.tsx
  frontend/src/app/forum/page.tsx
  frontend/src/lib/utils.ts
  frontend/src/utils/supabase/middleware.ts
  frontend/yarn.lock
Labels: frontend, auth
