Repository ubclaunchpad/forum, pull requests merged in 2025-01, with the labels that each got.

#191 Document creation safeguard changes + small bucket changes
  backend/controllers/documents/document_manager.py
  backend/core/pipelines/document_query_engine.py
  backend/core/util/file_storage.py
  backend/models/schemas/document_schema.py
  backend/routers/routes/documents.py
Labels: backend

#229 Improved application UI, offline-ish features, responsive layout, ...
  backend/controllers/course_controller.py
  backend/controllers/post_controller.py
  backend/models/schemas/course_schema.py
  backend/models/schemas/post_schema.py
  backend/routers/routes/courses.py
  frontend/README.md
  frontend/package.json
  frontend/src/app/auth/layout.tsx
  frontend/src/app/auth/signin/actions.ts
  frontend/src/app/auth/signin/page.tsx
  frontend/src/app/auth/signup/page.tsx
  frontend/src/app/forum/courses/[id]/forum/[[...slug]]/page.tsx
  frontend/src/app/forum/courses/[id]/layout.tsx
  frontend/src/app/forum/courses/new/page.tsx
  frontend/src/app/forum/courses/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/not-found.tsx
  frontend/src/components/course/CourseSettingsModal.tsx
  frontend/src/components/course/courseNavbar.tsx
  frontend/src/components/course/courseTopbar.tsx
  frontend/src/components/course/searchBar.tsx
  frontend/src/components/general/CustomScrollable.tsx
  frontend/src/components/general/EditorComponent.tsx
  frontend/src/components/posts/NewPost.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostTextEditor.tsx
  frontend/src/components/posts/PostView.tsx
  frontend/src/components/posts/PostsForumPage.tsx
  frontend/src/components/posts/PostsForumSidebar.tsx
  frontend/src/components/posts/PostsForumViewSection.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/contexts/PostsContext.tsx
  frontend/src/contexts/courseContext.tsx
  frontend/src/lib/types/course.ts
  frontend/src/lib/types/posts.ts
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
  frontend/yarn.lock
Labels: frontend

#236 PROFILES API
  backend/controllers/course_controller.py
  backend/controllers/old/post_crud.py
  backend/controllers/user_controller.py
  backend/core/util/file_storage.py
  backend/migrations/versions/09db37a849a4_status_and_icon.py
  backend/migrations/versions/ee0d3f031dd6_new_profile_table_columns.py
  backend/models/all.py
  backend/models/schemas/course_schema.py
  backend/models/schemas/user_schema.py
  backend/routers/routes/courses.py
  backend/routers/routes/users.py
  frontend/next.config.mjs
  frontend/package.json
  frontend/src/app/forum/courses/[id]/(core)/people/[[...slug]]/layout.tsx
  frontend/src/app/forum/courses/[id]/(core)/people/[[...slug]]/page.tsx
  frontend/src/app/forum/courses/[id]/settings/layout.tsx
  frontend/src/app/forum/profile/page.tsx
  frontend/src/components/course/courseNavbar.tsx
  frontend/src/components/course/courseTopbar.tsx
  frontend/src/components/general/EditorComponent.tsx
  frontend/src/components/people/PeoplePage.tsx
  frontend/src/components/people/PeopleSidebar.tsx
  frontend/src/components/people/PersonCard.tsx
  frontend/src/components/people/ProfileFullView.tsx
  frontend/src/components/people/ProfileView.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostView.tsx
  frontend/src/components/posts/PostsForumSidebar.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/contexts/PostsContext.tsx
  frontend/src/contexts/userContext.tsx
  frontend/src/lib/types/profiles.ts
  frontend/src/lib/utils.ts
  frontend/yarn.lock
Labels: enhancement, database
